* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

#header {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1010a5;
}

#title-img {
    border-radius: 50%;
    height: 40px;
}

#title-text {
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 1px;
}

#title-text::first-letter {
    font-size: 2.5rem;
    font-family: Yellowtail, Roboto, sans-serif;
}

#main {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

label[for="URL-Bar"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#URL-Bar {
    height: 35px;
    width: 50%;
    border: 2px solid #1010a585;
    border-radius: 30px 0 0 30px;
    border-right: none;
    font-size: 1.3rem;
    padding: 15px;
    padding-right: 0;
}

#search-btn {
    height: 35px;
    border: 2px solid #1010a585;
    border-radius: 0 30px 30px 0;
    border-left: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-icon {
    padding: 5px 15px;
}

#URL-Bar:focus, #search-btn:focus {
    outline: 0;
    box-shadow: 0 0 0.1rem 0.1rem #104ca5;
    border-color: transparent;
}

#video-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

#video-container > video {
    max-width: 100%;
    max-height: 60vh;
    border-radius: 25px;
}

#video-container > video:focus {
    outline: 0;
    box-shadow: 0 0 0.1rem 0.1rem #104ca5;
}

.control-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.control-btn {
    height: 0;
    width: 0;
    background-color: transparent;
    border-radius: 5px;
}

#Play-Pause {
    border-left: 15px solid #000;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: none;
}

#Full-Screen {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 2px dashed #000;
}