* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

#header {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1010a5;
}

#title-img {
    border-radius: 50%;
    height: 40px;
}

#title-text {
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 1px;
}

#title-text::first-letter {
    font-size: 2.5rem;
    font-family: Yellowtail, Roboto, sans-serif;
}

#main {
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

label[for="URL-Bar"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#URL-Bar {
    height: 35px;
    width: 50%;
    border: 2px solid #1010a585;
    border-radius: 30px 0 0 30px;
    border-right: none;
    font-size: 1.3rem;
    padding: 15px;
    padding-right: 0;
}

#search-btn {
    height: 35px;
    border: 2px solid #1010a585;
    border-radius: 0 30px 30px 0;
    border-left: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-icon {
    padding: 5px 15px;
}

#URL-Bar:focus, #search-btn:focus {
    outline: 0;
    box-shadow: 0 0 0.1rem 0.1rem #104ca5;
    border-color: transparent;
}

#video-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

#video-container > video {
    width: 98vw;
    max-width: 800px;
    max-height: 90vh;
    border-radius: 8px;
    background-color: #000;
}

#video-container > video:focus {
    outline: 0;
}

#close-button {
    height: 50px;
    width: 50px;
    background-color: #FFF;
    border: none;
    border-radius: 100px;
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-button:active {
    transform: scale(0.9);
}

#close-button > .bar {
    display: inline-block;
    width: 45px;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
    z-index: 4;
}

#close-button > .bar:nth-child(1) {
    transform: rotate(45deg);
}

#close-button > .bar:nth-child(2) {
    transform: rotate(-45deg);
}